<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: #3F7A64;
      color: black;
      padding: 0;
      font-family: sans-serif;
    }
    hr {
     border: 1px solid #3F7A64;
    }
    p {
      font-size: large;
    }
    a {
      font-size: medium;
      color: black;
      text-decoration: none;
    }
    .header {
      text-align: center;
      max-height: 8rem;
    }
    .body {
      background-color: white;
      padding: 1rem;
      margin: 1rem 5rem;
      border-radius: 5px;
      min-width: 16rem;
    }
    .button {
      background-color: #BBDAED;
      border-radius: 0.25rem;
      margin: 0 auto;
      padding: 1rem;
      width: fit-content;
    }
  </style>
</head>
<body>
  <div class="header">
    <image src="https://www.tenurefi.com/wp-content/uploads/2023/03/tenure-logo-white-final.png" style="max-height: 8rem;"></image>
  </div>
  <div class="body">
    <h2>We have received a request to reset the password for your Tenure account.</h2>
    <p>Click on the button below to reset your password. You'll have 1 hour before the link expires!</p>
    <div class="button">
      <a href="http://localhost:5173/ResetPassword?resetPasswordToken={{resetPasswordToken}}&userID={{userID}}">Reset your Password</a>
    </div>
    <hr>
    <footer>© Tenure</footer>
  </div>
</body>
</html>